body {
    margin: 0 auto;
    background-image: url("bg.jpg") ;
    background-repeat: no-repeat ;
    background-size: 100%;

}
header{
    border:  2px solid red;
    display: -webkit-inline-flex;
    width: 100%;
}
#abc {
    margin: 10% ;
    border: 2px solid cornflowerblue;
}
img {
    width: 200px ;
    height: 60px;
}
h1, p {
    font-family: Arial, Helvetica, sans-serif ;
}
#footer {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Courier New, Courier, monospace;
}
footer {
    margin-top: 10px ;
    margin-left: 0;
    height: 50px;
    border: 2px solid red;
}
table {
    width: 100%;
}
