body {
    margin: 0 auto;
    background-image: url("bg.jpg") ;
    background-repeat: no-repeat ;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    border:  2px solid red;
    display: -webkit-inline-flex;
    width: 100%;
}
#abc {
    margin: 10% ;
    border: 2px solid cornflowerblue;
}
img {
    width: 200px ;
    height: 60px;
}
#footer {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Courier New, Courier, monospace;
}
footer {
    margin-left: 0;
    height: 50px;
    border: 2px solid red;
}
table {
    width: 100%;
    background-color: powderblue; 
    border: 1px solid brown;
}
.thead {
    border-bottom: 3px solid black;
    text-align: center;
}
td {
    width: 18%;
    height: 20px;
    text-align: center;
    border: 1px solid brown;
}
th {
    text-align: left;
    font-size: 20px;
}

